body {
    text-decoration: none;
    font-family: "Open-sans", sans-serif;
    font-weight: 300;
    font-stretch: normal;
}

.main-section {
    float: right;
    position: relative; 
    width: calc(100% - 265px);
    height: 100%;
    background: #EEEEEE;
    overflow: hidden !important;
}

.main-section {
    margin-top: 55px;;
}

.dashboard-section {
    height: 900px;
}