body {
    text-decoration : none;
    font-family     : "Open-sans",
                      sans-serif;
    font-weight     : 300;
    font-stretch    : normal;
}

.footer{
    background-color: #232731;
}

.footer-content {
    margin-top: 50px;
    margin-bottom: 100px;
}

.footer h2,.footer p {
    color: #e74c3c;
    margin-top: 0px;
}

.footer h4{
    color: #e74c3c;
    margin-bottom: 20px;
    margin-top: 0px;
}

.footer p  {
    margin-top: 20px;
    font-size: 16px;
}

.footer-list {
    list-style: none;
    padding: 0px;
}

.footer-link {
    padding: 5px 0px;
}

.footer-link a {
    font-size: 14px;
    color: #ffffff; 
    text-decoration: none;
}

.footer-link a:hover,.footer-link a:active,.footer-link a:focus {
    color: #e74c3c;
}

.footer-social, .footer-list {
    margin-right: 40px;
    padding-top: 10px; 
    border-top: 1px solid #DFDFDF;
}

.footer-social a , .footer-social a:hover {
    color: #ffffff;
}

.footer-social img {
    width: 30px;
    height:30px;
}

.top-section {
    height: 60px;
}

.top-wrap  {
    height: 60px;
    width: 60px;
    text-align: center;
    position: absolute;
    right: 0;
    background-color: #232731;
}

.top-wrap a {
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.15);
}

.top-wrap i {
    font-size: 30px;
    line-height: 55px;
}

#facebook{
    color: #3b5998;
}

#twitter{
    color: #55acee
}

#gplus{
    color: #dd4b39
}