.footer {
    background-color: #FFFFFF;
    border-top: 1px solid #e6e6e6;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    padding: 15px 10px;
    font-size: 16px;
    margin-bottom: 0px;
}