body {
    background: #f8f9fa;
}

.main-section {
    float: right;
    position: relative; 
    width: calc(100% - 265px);
}

.main-section {
    margin-top: 55px;;
}

.goal-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.table>thead:first-child>tr:first-child>th {
    color: #e74c3c;
    font-weight: normal;
    font-size: 20px;
}

.table>tbody>tr>td {
    line-height: 2;
}