body{
    text-decoration : none;
    font-family     : "Open-sans",
                      sans-serif;
    font-weight     : 300;
    font-stretch    : normal;    
}

#content{
	text-align: center;
    padding-top: 15%;
}

.intro{
    height:100vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

#shadow{
    text-shadow: 0px 4px  3px rgba(231,76,60,0.4),
    0px 8px 13px rgba(231,76,60,0.1),
    0px 18px 23px rgba(231,76,60,0.1);
}

#estimate{
    text-shadow: 0px 4px  3px rgba(231,76,60,0.4),
    0px 8px 13px rgba(231,76,60,0.1),
    0px 18px 23px rgba(231,76,60,0.1);
}

.font37{
    color: whitesmoke;
    font-size: 37px;
    font-weight: 300;
}

.font38{
    font-size: 38px;
    font-weight: bold;
    color: #e74c3c;
}

.btn-primary {
    color: #e74c3c;
    background-color: whitesmoke;
    border-color: #e74c3c;
}

.btn-primary:hover{
    background-color: #e74c3c;
    color: whitesmoke;
    border-color: #e74c3c;
}

.somespace{
    padding-left: 4.5%;
}

img {
    vertical-align: middle;
    display: flex;
    overflow: hidden;
}

.samespan{
    text-transform: uppercase;
    color: #e74c3c;
    font-weight: 600;
}

.para{
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
}

#name,#age,#status,#saving,#earning,#savingsType,#earningsType {
    text-align: center;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
}

#calculation{
    font-family: 'Open Sans', sans-serif;
    color: #999;
    text-align: center;
    font-size: 24px;
    margin-top: 70px;
    font-weight: 100 !important;
}

#header{
    text-align: center;
    font-size: 30px;
    color: #e74c3c;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: -30px;
}

hr.hr3d {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#contain{
    height: 580px;
}