body{
    background: #eeeeee;
}

.btn-primary {
    color: #e74c3c;
    background-color: whitesmoke;
    border-color: #e74c3c;
}

#brand{
    color: #e74c3c;
    font-size: 20px;
    font-weight: 600;
}

#hover-a:hover{
    background-color: #e74c3c;
    color: whitesmoke;
    border-color: #FFA07A;
}

#how-h:hover{
    color: #e74c3c;
}

#investment-h:hover{
    color: #e74c3c;
}

#mutual-h:hover{
    color: #e74c3c;
}

#about-h:hover{
    color: #e74c3c;
}

#contact-h:hover{
    color: #e74c3c;
}

.jumbotron{
    border: 3px solid #e74c3c;
}

.navbar-inverse{
    background:#232731;
    border: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.somespace{
    padding-left: 4.5%;
}