html {
    height: 100%;
}

body {
    background: url("../img/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

h4 {   
    color: #888888;
}

.card {
    padding-bottom: 20px;
}

.card-header {
    text-align: center;
}

.card-header i {
    color: #e74c3c;
    margin-bottom: 10px;
}

.card-form {
    padding: 0px 20px;
}

.card-button {
    padding: 20px 20px 20px 20px;
}

.content-section {
    display: table-cell;
    vertical-align: middle;
}

.form-margin {
    margin-top: 30px;
}

.main-section {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}