html {
    height: 100%;
}

body {
    background: url("../img/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

h4 {   
    color: #888888;
}

.btn-icon,
.btn-icon:hover {
    color: #FFFFFF;
}

.card {
    padding-bottom: 20px;
}

.card-header {
    padding: 30px;
}

.card-title {
    text-align: center;
    font-size: 20px;
}

.card-button {
    padding: 20px 20px 20px 20px;
}

.content-section {
    padding-top: 15vh;
}

.division {
    position: relative;
    width: 100%;
    float: none;
    margin: 0 auto 0;
    overflow: hidden;
    text-align: center;
}

.form-margin {
    margin-top: 30px;
}

.line {
    position: absolute;
    top: 10px;
    width: 34%;
    margin: 0px 20px;
    border-top: 1px solid #E6E6E6;
}

.line.l {
    left: 0;
}

.line.r {
    right: 0;
}

.no-margin {
    margin-top: 0px;
}

.social-login {
    margin-top: 15px;
    padding: 0;
    text-align: center;
}