body,h4 {
  text-decoration : none;
  font-family     : "Open-sans",  sans-serif;
  font-weight     : 300;
  font-stretch    : normal;
}

body {
  background-image : url("../img/hero.jpg");
}

.btn:active:focus,
.btn:focus {
  outline : 0 none;
}

.btn.btn-transparent {
  display          : inline-block;
  margin           : 0 auto;
  padding          : 8px 18px;
  color            : #e74c3c;
  border           : 1px;
  border-radius    : 4px;
  background-color : transparent;
  text-align       : center;
  font-size        : 20px;
  transition       : all 0.5s;
}

.btn-transparent:hover {
  color            : #FFFFFF;
  border           : none;
  background-color : #e74c3c;
}

.btn-transparent:active {
  background-color : #C0392B;
}

.btn-icon {
  color : #FFFFFF;
}

.card-login {
  display        : inline-block;
  position       : relative;
  width          : 100%;
  margin         : 25px 0;
  padding-bottom : 20px;
  border-radius  : 6px;
  background     : #FFFFFF;
  box-shadow     : 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.card-header {
  position         : relative;
  margin-top       : -40px;
  margin-right     : 10px;
  margin-bottom    : 20px;
  margin-left      : 10px;
  padding          : 15px;
  border-radius    : 4px;
  background-color : #e74c3c;
  box-shadow       : 0 4px 20px 0px rgba(0, 0, 0, 0.14),
                     0 7px 10px -5px #C0392B;
}

.card-title {
  margin    : 20px 0px;
  color         : #FFFFFF;
  text-align    : center;
  font-size     : 20px;
}

.card-button,
.card-form {
  margin : 20px;
}

.card-button {
  margin-bottom: 0px;
  margin-top: 30px;
}

.content-section {
  padding-top:20vh;
}

.division {
    float: none;
    margin: 0 auto 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.form-control {
  position : absolute;
  height   : 40px;
  float    : left;
}

input[type=password]:focus,
input[type=text]:focus {
  border        : 1px solid #e74c3c;
  border-radius : 3px;
  box-shadow    : none;
}

.input-group {
  display    : flex;
  position   : relative;
  margin-top : 30px;
}

.input-group-addon {
  width  : 50px;
  height : 40px;
}

.line {
    border-top: 1px solid #DFDFDF;
    position: absolute;
    top: 10px;
    width: 34%;
    margin: 0px 20px;
}

.line.l {
  left: 0;
}

.line.r {
  right: 0;
}

.social-login {
  margin-top : 15px;
  padding    : 0;
  text-align : center;
}

.switch-container {
  margin : 0px;
}

.checkbox label {
  padding : 0px 10px;
}


/* CSS Switch Button */

.switch {
  display  : inline-block;
  position : relative;
  width    : 40px;
  height   : 22px;
}

.switch input {
  display : none;
}

.slider {
  position           : absolute;
  top                : 0;
  right              : 0;
  bottom             : 0;
  left               : 0;
  background-color   : #ccc;
  -webkit-transition : .4s;
  transition         : .4s;
  cursor             : pointer;
}

.slider:before {
  content            : "";
  position           : absolute;
  bottom             : 2px;
  left               : 2px;
  width              : 18px;
  height             : 18px;
  background-color   : white;
  -webkit-transition : .4s;
  transition         : .4s;
}

input:checked + .slider {
  background-color : #e74c3c;
}

input:focus + .slider {
  box-shadow : 0 0 1px #e74c3c;
}

input:checked + .slider:before {
  -ms-transform : translateX(18px);
  transform     : translateX(18px);
}

.slider.round {
  border-radius : 18px;
}

.slider.round:before {
  border-radius : 50%;
}
