.container-fluid {
    margin: auto 20px;
}

.main-section {
    float: right;
    position: relative; 
    width: calc(100% - 285px);
    height: 100%;
    background: #EEEEEE;
    overflow: hidden !important;
}

.main-section {
    margin-top: 55px;;
}

.profile-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-heading h3 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
}