.sidebar-section {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 265px;
    z-index: 10;
    height: 100%;
    margin-top: 55px;
    display: block;
    float: left;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
}

.navbar {
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

.nav-list > li > a {
    margin: 10px 15px 0;
    padding: 10px 15px;
    border-radius: 4px;   
    line-height: 30px;   
    font-size: 14px;
    color: #525558;
    font-weight: 500;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    transition: linear;
}

.nav-list > li > a:hover {
    background: rgba(200, 200, 200, 0.2);
}

.nav-list li.active > a,.nav-list li.active > a > p,.nav-list li.active > a > i {
    background: #e74c3c;
    color: #FFFFFF;
    box-shadow: 0 7px 10px -5px #e74c3c;
}

.nav-list i{
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #525558; 
}

.sidebar-user {
    padding: 30px 15px;
    position: relative;
    border-bottom: 1px solid #E6E6E6;
    background: url("../img/userback.png") no-repeat no-repeat;
    background-size: 265px 150px;
    height: 150px;
    text-align: center;
}

.sidebar-user label {
    margin-bottom: 0px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: normal;
}

.sidebar-user i {
    font-size: 60px;
}

.sidebar-settings {
    position: absolute;
    bottom: 75px;
    width: 100%;
    height: 50px;
}

.nav-view {
    transform: translateX(0%) !important;
}

.header {
    background: #EEEEEE;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 20px;
    margin-bottom: 20px;
    color: #525558;
}

@media (min-width:768px) {
    .sidebar-section {
        display: block !important;
        width: 265px;    
    }

    .main-section {
        width: calc(100% - 265px);
    }
}

@media (max-width:767px)  {
    .sidebar-section { 
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out; 
    }

    .main-section {
        width: 100%;
    }
}