body{
    background: #2c3e50;
}

.navbar-inverse{
    background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.somespace{
    padding-left: 4.5%;
}